<h1>Edit Playlist vote</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.playlist_vote_path(@conn, :update, @playlist_vote)) %>

<span><%= link "Back", to: Routes.playlist_vote_path(@conn, :index) %></span>
