<h1>Show Playlist song</h1>

<ul>

</ul>

<span><%= link "Edit", to: Routes.playlist_song_path(@conn, :edit, @playlist_song) %></span>
<span><%= link "Back", to: Routes.playlist_song_path(@conn, :index) %></span>
